<mat-card>
  <mat-card-actions>
    <mat-toolbar class="toolbar mat-elevation-z8" color="primary">
      <mat-toolbar-row class="toolbar">
        <div class="icon-area" fxLayout="row" fxLayoutGap="5px" fxShow="true" fxHide.lt-md="true">
          <button mat-button (click)="setNext()">
            <mat-icon>keyboard_arrow_up</mat-icon>
            次の商品
          </button>
          <button mat-button (click)="setPrev()">
            <mat-icon>keyboard_arrow_down</mat-icon>
            前の商品
          </button>  
          <button mat-button (click)="gcdHelp()">
            <mat-icon>find_replace</mat-icon>
            商品検索
          </button>
          <button mat-button (click)="refresh()">
            <mat-icon>autorenew</mat-icon>
            再表示
          </button>
          <button  mat-button (click)="showChart()">
            <mat-icon>poll</mat-icon>
            月別出荷数
          </button>
          <button  mat-button (click)="outputCsv($event)">
            <mat-icon>cloud_download</mat-icon>
            ダウンロード
          </button>
          <a id="csv-donwload" data-type="text/csv"></a>
        </div>
        <div class="icon-area" fxLayout="row" fxShow="true" fxHide.gt-sm="true">
          <button mat-button (click)="setNext()">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
          <button mat-button (click)="setPrev()">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>  
          <button mat-button (click)="gcdHelp()">
            <mat-icon>find_replace</mat-icon>
          </button>
          <button mat-button (click)="refresh()">
            <mat-icon>autorenew</mat-icon>
          </button>
          <button  mat-button (click)="showChart()">
            <mat-icon>poll</mat-icon>
          </button>
          <!-- <button type="button" class="btn btn1" (click)="outputCsv($event)">CSV出力</button>
          <a id="csv-donwload"></a> -->
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-actions>
  <mat-card-subtitle>
    <form fxLayout="row wrap" fxLayoutAlign="start baseline" fxLayoutGap="5px">
      <mat-form-field fxFlex="0 0 10em">
        <mat-label>商品コード</mat-label>
        <input matInput [ngModel]="gcode | uppercase" (ngModelChange)="gcode=$event" (keyup.enter)="onEnter()" (keydown.f4)="gcdHelp()"
         (contextmenu)="contxtMenu()" (change)="refresh()" (blur)="refresh()" [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
      <mat-form-field fxFlex="0 0 10em" fxFlexOffset="10px">
        <mat-select [placeholder]="placehold" [(value)]="scode" (openedChange)="refresh()" required>
          <ng-container *ngFor="let store of stosrv.get_tblData()">
            <mat-option value="{{ store.scode }}">{{ store.scode }} {{ store.sname }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>商品名</mat-label>
        <input matInput [value]="gname" disabled>
      </mat-form-field>
      <div [style.display]="sukbn=='在庫品' ? 'inline' : 'none'" fxLayout="row wrap" fxLayoutAlign="start baseline" fxLayoutGap="5px">
        <mat-form-field style="width:4em" style="font-size:larger;font-weight:bolder;">
          <mat-label>受注可能数</mat-label>
          <input matInput numberInput value="{{stock - juzan}}" disabled class="i_num">
        </mat-form-field>
        <mat-form-field style="width:4em">
          <mat-label>在庫数</mat-label>
          <input matInput numberInput [value]="stock" disabled class="i_num">
        </mat-form-field>
        <mat-form-field style="width:4em">
          <mat-label>受注残</mat-label>
          <input matInput numberInput [value]="juzan" disabled class="i_num">
        </mat-form-field>
        <mat-form-field style="width:12em">
          <mat-label>入荷予定日</mat-label>
          <input matInput [value]="ndate | blank" disabled>
        </mat-form-field>
        <mat-form-field style="width:4em">
          <mat-label>入荷予定数</mat-label>
          <input matInput numberInput [value]="incnt" disabled class="i_num">
        </mat-form-field>
        <mat-form-field style="width:4em">
          <mat-label>発注残</mat-label>
          <input matInput numberInput [value]="htzan" disabled class="i_num">
        </mat-form-field>
      </div>
      <div [style.display]="sukbn=='セット品' ? 'inline' : 'none'">
        <mat-form-field style="width:4em" style="font-size:larger;font-weight:bolder;">
          <mat-label>受注可能数</mat-label>
          <input matInput numberInput value="{{stssrv.get_paabl()}}"disabled class="i_num">
        </mat-form-field>  
      </div>
      <mat-form-field style="width:6em">
        <mat-label>月平均出荷数</mat-label>
        <input matInput numberInput [value]="moavg | number:'1.2-2'" disabled class="i_num">
      </mat-form-field>
    </form>
  </mat-card-subtitle>
  <mat-card-content>
    <app-trantbl [style.display]="sukbn=='在庫品' ? 'table' : 'none'"></app-trantbl>
    <app-stcstbl [style.display]="sukbn=='セット品' ? 'table' : 'none'"></app-stcstbl>
  </mat-card-content>
</mat-card>
