<h2 mat-dialog-title>月別出荷数・出荷数昨対</h2>
<mat-dialog-content>
    <combo-chart-component
        [view]="view"
        [scheme]="comboBarScheme"
        [colorSchemeLine]="lineChartScheme"
        [results]="chartData"
        [lineChart]="lineChartSeries"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showRightYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [yAxisLabelRight]="yAxisLabelRight"
        [showGridLines]="showGridLines">
    </combo-chart-component> 

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">閉じる</button>
</mat-dialog-actions>
